## Разбор мартовского экзамена по Питону

“Сегодня в маршрутке девчушка лет 18 спросила маму: “А если всем попросить `Краску`, он выключит `питон`?” С мамой плакала половина эконома… 

#### Авторы: Галичкин Олег и Мустафин Альмир

**пысы** Если увидели ошибку, напишите в лс. На регулярочках нам стало дико лень, сорян

![5NFMQ1EvMeE.jpg](http://images.vfl.ru/ii/1592249089/da048f22/30817110.jpg)

#### Задание 1. Что должно находиться внутри вызова `append`?

In [56]:
import bs4

page = """
<div>
    <div par='c1'>
        111<span t='119'>117</span>
    </div>
    <div par='c1'>
        112<span t='120'>118</span>
    </div>
</div>
"""

soup = bs4.BeautifulSoup(page, "html.parser")
data = soup.findAll('div', {'par':'c1'})
result = []
for item in data:
    result.append(item.find('span')["t"])
print(result)

['119', '120']

#### Справочка по bs4

>import bs4

Импортируем библиотеку

>soup = bs4.BeautifulSoup(page, "html.parser")

В переменную `soup` загоняем обработанный в код текст. Дальше все время обращаемся к `soup` если хотим что-то найти по всему коду. Вместо `page` - название переменной с текстом. 

>soup.findAll('span')

Возвращает список все тегов `span` со всем содержимым

>soup.find('span')

Возвращает первый тег `span` со всем содержимым

>soup.findAll('div', {'class': 'c1'})

Возвращает список всех тегов `div` с атрибутом `class` равным `c1` с содержимым. Атрибутом может быть что угодно внутри тега `<div аттрибут1="значение1" аттрибут2="значение2">`

>tag.contents

Возвращает содержимое тега `<тэг аттрибут="значение">вернет то, что тут написано</тэг>`. Использовать можно на любом теге, но не на списке тегов (например, findAll возвращает список). Применить `.contents` можно только взяв каждый отдельный элемент списка, например циклом `for`. Допустим, так: `for tag in soup.findAll('div'):`.

>tag.text

Возвращает текст в теге между <тэг> и </тэг>

>tag.get('class')

Возвращает значение определенного аттрибута. Использование аналогично предыдущему.

>tag.findPrevious('span')

Возвращает предыдущий тэг с его содержимым по его названию, если предыдущих нет, выдает *None*. `tag` здесь это какой-то тэг (не список!), перед которым нужно искать по всему коду. Можно указать в скобках его аттрибуты, например `tag.findPrevious('span', {'t':'118'})`и он выведет все предыдущие тэги `span` с аттрибутом `t` равным `118`

>tag.findNext('b'))
    
Аналогично, только ищет следующий тэг

#### Задание на проверочку знаний

Вы парсите фотохостинг.
Допишите код, который выведет датафрейм с колонками
- дата
- подпись картинки (в тэге img)
- адрес картинки (в теге img)
- имя залившего пользователя
- текст поста (тот тег, где дата)

In [60]:
import bs4
import pandas as pd

text = """
<body>
<div class="post">
<b name="i"><img src="kotik.jpg" align="center">На картинке котик</b>
<p class="text" date="12.04.2020">Красивый котик кушает блинчики</p>404
354<p class="username"><b>к0шатницца777</b>лол<b>просто так</b></p>
</div>
<div class="post">
<b name="i"><img src="pesel.jpg" align="right">На картинке песель</b>
<p class="text" date="21.09.2018">Какой щеночек!!!</p>4778
23<p class="username"><b>с0баковед1970</b>лол<b>просто так</b></p>
</div>
<div class="post">453739
<b name="i"><img src="rybka.jpg" align="left">На картинке рыбка</b>68587
<p class="text" date="11.09.2001">Мой аквариум</p>
<p class="username"><b>водомерка233</b>лол<b>просто так</b></p>
</div>
</body>
"""

# дописывать код сюды - пример решения в конце

,Дата,Подпись,Адрес,Имя пользователя,Текст
0,12.04.2020,На картинке котик,kotik.jpg,к0шатницца777,Красивый котик кушает блинчики
1,21.09.2018,На картинке песель,pesel.jpg,с0баковед1970,Какой щеночек!!!
2,11.09.2001,На картинке рыбка,rybka.jpg,водомерка233,Мой аквариум

#### Задание 2. Что должно находиться внутри вызова `findall`? (2 балла)

In [3]:
import re

page = """
<div>
    <span class="item_1" dt="2012.03.12">Item Name 1</span>
    <span class="item_2" dt="2012.03.6" time="12:51">Item Name 2</span>
</div>
"""

re.findall('<span class="(.*?)" dt="(.{9,10})".*?>(.*?)</span>', page)
# https://regex101.com/

[('item_1', '2012.03.12', 'Item Name 1'),
 ('item_2', '2012.03.6', 'Item Name 2')]

#### Справочка по re

-   `.`               - Один любой символ, кроме новой строки \n.
-   `?`               - 0 или 1 вхождение шаблона слева
-   `+`               - 1 и более вхождений шаблона слева
-   `*`               - 0 и более вхождений шаблона слева
-   `\w`              - Любая цифра или буква (\W — все, кроме буквы или цифры)
-   `\d`              - Любая цифра [0-9] (\D — все, кроме цифры)
-   `\s`              - Любой пробельный символ (\S — любой непробельный символ)
-   `\b`              - Граница слова
-   `[..]`            - Один из символов в скобках ([^..] — любой символ, кроме тех, что в скобках)
-   `\`               - Экранирование специальных символов (\. означает точку или \+ — знак «плюс»)
-   `^` и `$`         - Начало и конец строки соответственно
-   `{n,m}`           - От n до m вхождений ({,m} — от 0 до m)
-   `a|b`             - Соответствует a или b
-   `()`              - Группирует выражение и возвращает найденный текст
-   `\t`, `\n`, `\r`  - Символ табуляции, новой строки и возврата каретки соответственно

#### Задание 3. Что должно находиться внутри вызова `print`? (1,5 балла)

In [62]:
import json

data = json.loads(
"""
{"colors":
    [
        {
            "color": "black", 
            "category": "hue", 
            "type": "primary", 
            "code":
                {
                    "rgba": [255, 255, 255, 1], 
                    "hex": "#000"}
                }
    ]
}""")

print(data["colors"][0]["color"])
print(data["colors"][0]["code"]["rgba"][1])
print(data["colors"][0]["code"]["hex"])
# решено

black
255
#000

#### Справочка по JSON

В JSON два вида объектов - списки c *квадратными скобочками*

>`["a", "б", 1]`

 и словарики c *фигурными скобочками*.

>`{"a": 1, "б": 22, "в": "текстик"}`


Каждый из них может быть вложен в другой, то есть {"списочек":[1, 2], "словарик": {"Э": 31, "Ю": 32}}. Здесь в словаре лежать список и другой словарик. Поэтому чтобы добраться до любого элемента в JSON нужно входить в нужный элемент, затем заходить во вложенный и так далее по иерархии. Как это делать?

Чтобы обратиться к элементу в словаре нужно написать `словарь["имя элемента"]`, к элементу списка - его номер по счету в квадратных скобках считая с нуля `список[номер элемента]`

Очень часто словарь обернут списком и является его единственным, нулевым элементом, в таком случае `[0]` решает проблему.

В приниципе это все: главное правильно разобраться что во что вложено и потом обращаться по очереди к нужному вложенному элементу, начав с обращение к самому JSON-тексту. Так, для json-текста `j`:

In [63]:
j = json.loads("""{"games": 10, "wins": [{"sasha": 4, "masha": 6}], "players": ["sasha", "masha", "kraska"]}""")

print(j["games"])
print(j["wins"]) # обрати внимание на список вокруг
print(j["wins"][0]) # а тут без него
print(j["wins"][0]["sasha"])
print(j["players"][2])

10
[{'sasha': 4, 'masha': 6}]
{'sasha': 4, 'masha': 6}
4
kraska

#### Задание на проверочку знаний

Вот пример JSON, который возвращает вк апи по страничке:
Выведите:
- ID пользователя
- Город
- ID страны
- Название первой по порядку школы

In [65]:
import json

r = json.loads("""{
    "response": [{
            "id": 181178506,
            "first_name": "Олег",
            "last_name": "Галичкин",
            "is_closed": false,
            "can_access_closed": true,
            "city": {
                "id": 2,
                "title": "Санкт-Петербург"
            },
            "country": {
                "id": 1,
                "title": "Россия"
            },
            "verified": 0,
            "schools": [{
                "id": "187",
                "country": 1,
                "city": 2,
                "name": "Школа №419",
                "year_from": 2016,
                "year_to": 2018,
                "class": "а"
            }, {
                "id": "87390",
                "country": 1,
                "city": 242,
                "name": "Петергофская гимназия императора Александра II (бывш. Школа № 415)",
                "year_from": 2007,
                "year_to": 2017,
                "type": 1,
                "type_str": "Гимназия"
            }]
    }]
    }
""")

# Решено

181178506
Санкт-Петербург
1
Школа №419

### 4.Дано вот это вот:

In [ ]:
import json
t='{"src":"12", "cont":{"data":[1,2,3,4,5,6,7]}}'
data=json.loads(t)
items = #что сюда ставить?
result=[]
for item in items:
    if item/2 == int(item/2):
        result.append(item*2)
    elif item>5:
        result.append(item/2)
    else:
        print(item+1)
result

#### 4.1 Каким кодом необходимо получить items? (1 балл)

##### Ответ: data['cont']['data']
Но почему?
Попробуем подумать как python: что будет, если вывести `t`?

In [1]:
import json
t='{"src":"12", "cont":{"data":[1,2,3,4,5,6,7]}}'
t

'{"src":"12", "cont":{"data":[1,2,3,4,5,6,7]}}'

А если применить json.loads(t) (Вообще не парьтесь, что это такое, главное запомните, что и из чего он делает. В данном случае, грубо говоря, из строки объект для анализа))?

In [6]:
import json
t='{"src":"12", "cont":{"data":[1,2,3,4,5,6,7]}}'
data=json.loads(t)
data

{'src': '12', 'cont': {'data': [1, 2, 3, 4, 5, 6, 7]}}

Далее начинаются какие-то манипуляции с items, где участвует простой цикл. Цикл можнт участвовать только в списке. Значит, нужно придумать способ каким-то образом добраться до списка [1,2,3,4,5,6,7]. Как выглядит data мы уже знаем. обратимся к ключу 'cont':

In [8]:
data['cont']

{'data': [1, 2, 3, 4, 5, 6, 7]}

Теперь обратимся к ключу 'data':

In [9]:
data['cont']['data']

[1, 2, 3, 4, 5, 6, 7]

Отлично. Мы достали список. Идём дальше:

#### 4.2 Что выдаст result?

In [12]:
items = data['cont']['data']

Всё это дело просто проверяет числа по порядку из списка items сначала на чётность, и если оно чётное (то есть, если результат деления на два с остатком и без него совпадают), то добавим в список result это число, умноженное на два и выходим из условия. Если же результат нечётный, то переходим к слудующему шагу условия: если число больше 5, то добавим в список result это число, разделённое на два. Если же и это условие не выполняется, то не добавляя запринтуем (выведем на экран) это число, к которому перед этим мы прибавим единицу.

In [13]:
result=[]
for item in items:
    if item/2 == int(item/2):
        result.append(item*2)
    elif item>5:
        result.append(item/2)
    else:
        print(item+1)
result

2
4
6

[4, 8, 12, 3.5]

#### Задание для самостоятельной работы:

In [84]:
import json  
t='{"src":{"12":[1,2],"hf": "gl_hf", "u":[1,2,3,4,5]}, "gl":{"hf": "gl_hf", "u":[[1,2,3,4,5],{"cont":{"data":[1,2,3,4,5,6,7]}},{"conti":{"dataf":[[1, [2, 3, 88], 3, 4, [2, 4, 3, 88], [2, 4, 3, 87], 5, 6, 9]]}}]}}'
items= # впишите, при условии, что len(items)==9 и items[-1]==9.

In [90]:
result=[]
for i in items:
    if type(i)!=int and len(i)>1 and i[2]==3 and str(i[-1])[-1]!='8':
        result.append(i)
result=result[0]
# Что же выдаст result?

In [ ]:
# Тестируйте тут свой код

### 5. Вставьте что-то чтобы получить что-то:

In [15]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'car':['Lada', 'VW', 'Volga'], 'year': ['1960', '1980','1970'], 'days': [5,7,np.nan]})
df2 = pd.DataFrame({'car':['BMW','Lada','Volga'],'price':['3000$', '700$', '500$']})

pd.concat([pd.merge(df1, df2, how = "left", left_on = "car", right_on = "car"), pd.merge(df1, df2, how="right", left_on = "car", right_on = "car")], ignore_index=True)

     car  year  days  price
0   Lada  1960   5.0   700$
1     VW  1980   7.0    NaN
2  Volga  1970   NaN   500$
3   Lada  1960   5.0   700$
4  Volga  1970   NaN   500$
5    BMW   NaN   NaN  3000$

##### Ответ: pd.DataFrame({'car': ['Lada', 'VW', 'Volga'], 'year': ['1960', '1980','1970'], 'days': [5,7,np.nan]})

#### Справочка по джойнам

`merge` - слияние таблиц по принципам **join в sql**

>df = pd.merge(левая_таблица, правая_таблица, ...)

Те самые принципы, внимание на картинки: [тут](https://shra.ru/2017/09/sql-join-v-primerakh-s-opisaniem/)

При этом за способ слияния таблиц отвечает **именованный аргумент** `how`

>how='inner'

Только те строки из первой таблицы, соответствия которым найдены во второй таблице. Иными словами, пересечение.

>how='outer'

Все строки из первой таблицы, соответствия которым найдены во второй, а также все строки первой, соответствия которым не найдены, и оставшиеся строки второй. Короче, вся информация, если это возможно, - пересекающаяся.

>how='left'

Все строки из первой таблицы, с соответсвиями из второй или без них.

>how='right'

Все строки из второй таблицы, с соответсвиями из первой или без них.

По умолчанию - `inner`!

Аргумент `on` говорит, по каким колонкам (или индексам) проверять совпадение.
Примеры:

##### Задания для самостоятельного решения:

In [33]:
df_1 = pd.DataFrame([[1, 2], [3, 4], [1, 7]], columns=list('AB'), index = ['a','b','c'])
df_2 = pd.DataFrame([[5, 6], [7, 5], [1, 4]], columns=list('AC'), index = ['a','b','c'])
pd.merge(df_1, df_2, how='outer', on='A')
df_1
df_2

   A  C
a  5  6
b  7  5
c  1  4

In [34]:
df_1

   A  B
a  1  2
b  3  4
c  1  7

In [51]:
df_1 = pd.DataFrame([[1, 2], [3, 4], [1, 7]], columns=list('AB'), index = ['a','b','c'])
df_2 = pd.DataFrame([[5, 6], [7, 5], [1, 4]], columns=list('AC'), index = ['a','b','c'])
_1 = #вставить чтобы получилось это:
_1

   A    B    C
0  1  2.0  4.0
1  1  7.0  4.0
2  3  4.0  NaN
3  5  NaN  6.0
4  7  NaN  5.0

In [31]:
pd.merge(df_1, df_2, how='inner')

   A  B  C
0  1  2  4
1  1  7  4

In [52]:
_2 = #вставить чтобы получилось это:
_2

   A  B  C
0  1  2  4
1  1  7  4

In [53]:
_3 = #вставить чтобы получилось это:
_3

   A  B    C
0  1  2  4.0
1  3  4  NaN
2  1  7  4.0

In [54]:
_4 = #вставить чтобы получилось это:
_4

   A    B  C
0  1  2.0  4
1  1  7.0  4
2  5  NaN  6
3  7  NaN  5

In [ ]:
# Ячейка для кода

## Ответы

In [ ]:
# Задание 1

soup = bs4.BeautifulSoup(text, "html.parser")

date, podpis, adres, user, text = [], [], [], [], []

for tag in soup.findAll("b", {"name": "i"}):
    podpis.append(tag.text)
    
for tag in soup.findAll("img"):
    adres.append(tag.get("src"))

for tag in soup.findAll("p", {"class": "text"}):
    text.append(tag.text)
    date.append(tag.get("date"))

for tag in soup.findAll("p", {"class": "username"}):
    user.append(tag.findNext("b").text)
    
result = pd.DataFrame({'Дата': date, "Подпись": podpis, "Адрес": adres, "Имя пользователя": user, "Текст": text})
result

In [ ]:
# Задание 3

print(r['response'][0]["id"])
print(r['response'][0]["city"]["title"])
print(r['response'][0]["country"]["id"])
print(r['response'][0]["schools"][0]["name"])

In [ ]:
# Задание 4
rt=json.loads(t)
items=rt['gl']['u'][2]['conti']['dataf'][0]

print(items)
print(result)

In [ ]:
# Задание 5 (по пунктам)
pd.merge(df_1, df_2, how='outer', on='A')
pd.merge(df_1, df_2, how='inner', on='A')
pd.merge(df_1, df_2, how='left', on='A') # все из дф1, выборочно из дф2
pd.merge(df_1, df_2, how='right', on='A') # все из дф2, выборочно из дф1